.sizeContainer {
    border-top: 1px solid #c6c6c6;
    padding-top: 15px;
    margin-top: 15px;
}

.sizeContainer > p {
    margin: 10px 0px;
    font-size: 13px;
    color: rgb(102, 102, 102);
    font-weight: bold;
    text-transform: uppercase;
}

.sizeContainer > ul {
    list-style: none;
    white-space: nowrap;
    overflow-x: auto;
    padding: 0px 0px 15px;
}

.sizeContainer > ul > li {
    background: rgb(237, 237, 237);
    padding: 10px 4px;
    min-width: 28px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 16px 0px 0px;
    color: rgb(102, 102, 102);
    border: 2px solid rgb(237, 237, 237);
    border-radius: 50%;
}