.accordion_title {
    margin: 10px 0px;
    font-size: 13px;
    color: rgb(102, 102, 102);
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 0px 0px 5px;
    position: relative;
}

.accordion_body{
    -webkit-animation: fadein .35s ease-in;
    animation: fadein .35s ease-in;
}

.accordion_arrow_down,
.accordion_arrow_up {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 12px;
    position: absolute;
    top: 6px;
    right: 0;
    margin-top: -6px;
}

.accordion_arrow_down:after, .accordion_arrow_down:before,
.accordion_arrow_up:after, .accordion_arrow_up:before {
    transition: transform .25s ease,-webkit-transform .25s ease;
}

.accordion_arrow_down:after, .accordion_arrow_down:before,
.accordion_arrow_up:after, .accordion_arrow_up:before {
    display: block;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    content: "";
}

.accordion_arrow_down:before {
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.accordion_arrow_down:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.accordion_arrow_up:before {
    left: 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.accordion_arrow_up:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}